h1,h2{
	text-align: center;
}

h1{
	font-size: 120px;
	font-family: Futura, Arial, Helvetica;
}

h2{
	font-size: 40px;
	font-family: Georgia, Garamond, "Times New Roman";
}

p{
	font-size: 16px;
}

td{
	padding: 10px;
}

